doctype html
html
  head
    block head                                                                          // this can be overriden by other pug files
      meta(charset='UTF-8')                                                             //****** element name (attributes)
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='/css/style.css')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      title Natours | #{title}

  body(data-alert=`${alert ? alert : ''}`)
    // HEADER
    include _header

    // CONTENT
    block content                                                                       // this can be overriden by other pug files
      h1 This is a placeholder heading

    // FOOTER
    include _footer

    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
    //- script(src='/js/mapbox.js')
    //- script(src='/js/login.js')
    
    //********* I think the reason we have to provide this library separately is because, i think stripe has NOT been recoded in 
    //          ES6 module format ...ie import/export and therefore the parecel-builder OR any module builder for that matter
    //          cannot know of the depenedency and therefore cannot build the single bundle in the correct order.
    
    // ******** I asked the question and got this response
    
    // What I am asking is why can't we have the stripe's js library as part of the bundle.js ? Why have it as a separate download ? 
    // Is it because the stripe's js file has not been coded in ES6 format and therefore does not lend itself to an import. 
    // That was my question ....


    //Adam — Teaching Assistant · 11 minutes agoAnswer
    // Oh, I see what you mean. Stripe won't let you bundle their script because of PCI compliance. 
    // Basically, companies that manage cards/payments need to adhere to strict regulations and Stripe handles that for you. 
    // As a result, the script must come from their PCI compliant servers DIRECTLY and all requests go through Stripe so
    // you never see or touch the customer's payment data.

    script(src='https://js.stripe.com/v3/')
    script(src='/js/bundle.js')
